{% extends "template.njk" %}
{% block head %}
    <link rel="stylesheet" href="/assets/govuk-frontend.min.css">
{% endblock %}
{% block content %}
<h1 class="govuk-heading-l">Address Details</h1>
<form method="POST" action="/address" class="govuk-form-group">
  <div class="govuk-form-group">
    <label class="govuk-label" for="addressLine1">Address Line 1:</label>
    <input class="govuk-input" type="text" id="addressLine1" name="addressLine1" required>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="addressLine2">Address Line 2:</label>
    <input class="govuk-input" type="text" id="addressLine2" name="addressLine2">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">Postcode:</label>
    <input class="govuk-input" type="text" id="postcode" name="postcode" required pattern="[A-Z]{1,2}[0-9R][0-9A-Z]? ?[0-9][ABD-HJLNP-UW-Z]{2}">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="city">City:</label>
    <input class="govuk-input" type="text" id="city" name="city" required>
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="town">Town:</label>
    <input class="govuk-input" type="text" id="town" name="town">
  </div>
  <div class="govuk-form-group">
    <label class="govuk-label" for="country">Country:</label>
    <input class="govuk-input" type="text" id="country" name="country" required>
  </div>
  <button class="govuk-button" type="submit">Submit</button>
</form>
{% endblock %}