{% extends "base.njk" %}

{% block content %}
        <h1 class="govuk-heading-l">Welcome to the Register Short Term Lets Service</h1>
        <p class="govuk-body">This service allows you to register a short term let.</p>
        <a href="/contact" class="govuk-button">Start now</a>
{% endblock %}