{% extends "template.njk" %}

{% block content %}
  <h1>Submission Successful</h1>
  <p>Your details have been submitted successfully.</p>
  <a href="/" class="govuk-button">Return to Start Page</a>
{% endblock %}
